

<div class="grid">
    <div class="col">
        <p-card>
            <div class="grid">
                <div class="col flex justify-content-center align-items-center">
                    <img src="motor-scooter-svgrepo-com.svg" alt="Motorcycle Type" style="height: 140px;"/>
                </div>
                <div class="col flex justify-content-left align-items-center">
                    Type 
                    {{motorCycleDetailInfo?.type}}
                    {{motorCycleDetailInfo?.transmission}}
                </div>
            </div>
        </p-card>
    </div>
    <div class="col">
        <p-card>
            <div class="grid">
                <div class="col flex justify-content-center align-items-center">
                    <img src="fuel-svgrepo-com.svg" alt="Fuel Capacity" style="height: 140px;"/>
                </div>
                <div class="col flex justify-content-left align-items-center">
                    Fuel Capacity
                    {{motorCycleDetailInfo?.tankCapacityLiter}}
                    Current Fuel Capacity
                    {{motorCycleDetailInfo?.currentFuelCapacity}}
                </div>
            </div>
        </p-card>
    </div>
    <div class="col">
        <p-card>
            <div class="grid">
                <div class="col flex justify-content-center align-items-center">
                    <img src="brand/{{motorCycleDetailInfo?.brand?.toLocaleLowerCase()}}.svg" alt="Fuel Capacity" style="height: 140px;"/>
                </div>
                <div class="col flex justify-content-left align-items-center">
                    {{motorCycleDetailInfo?.brand}}
                    {{motorCycleDetailInfo?.model}}
                </div>
            </div>
        </p-card>
    </div>
</div>

<p-divider />
<div class="grid">
    <div class="col">
        <lib-air-density-widget class="flex items-center justify-center h-1/6">Panel 1</lib-air-density-widget>
    </div>
    <div class="col">
        <lib-avg-throttle-widget class="flex items-center justify-center h-1/6">Panel 2</lib-avg-throttle-widget>
    </div>
    <div class="col">
        <lib-speed-widget class="flex items-center justify-center h-1/6">Panel 3</lib-speed-widget>
    </div>
    <div class="col">
        <lib-tire-pressure-widget class="flex items-center justify-center h-1/6">Panel 3</lib-tire-pressure-widget>
    </div>
    <div class="col">
        <lib-weight-widget class="flex items-center justify-center h-1/6">Panel 3</lib-weight-widget>
    </div>
</div>
<p-divider />

<p-card>
    <!-- @if (googleMapsLoad | async) {  -->
        <google-map height="500px" width="70%" 
            [center]="center" 
            [zoom]="zoom">
            @if (directionsResults$ | async; as directionsResults) {
                <map-directions-renderer [directions]="directionsResults" [options]="directionsOptions"></map-directions-renderer>
            }
        </google-map>
    <!-- } -->
    
</p-card>